:root {
    --_background: #050505;
    --_content_background: #151515;
    --_header_text: #454545;
    --_paragraph_text: color-mix(in srgb, color-mix(in srgb, rgb(69, 69, 69) 60%, rgb(255, 255, 255) ) 95%, green);
}

body {
    margin: 0;
    min-height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    background: var(--_background);
}

section {
    display: block;
    margin-top: 50px;
    width: 95%;
    overflow: hidden;
    margin: auto;
    float: none;
}

section:first-of-type {
    margin-top: 0;
}

section > img {
    width: 30%;
    margin: 0;
}

section > p {
    font-size: 20px;
    width: 30%;
}

.head-text {
    letter-spacing: 2px;
    font-weight: 900;
    vertical-align: middle;
    display: block;
    margin: auto;
    font-size: 1.5svh;
    color: var(--_header_text);
}

#header-parent {
    text-align: right;
    user-select: none;
    height: 2.5svh;
    width: 100%;
    background-color: #000000;
    white-space: nowrap;
    overflow: hidden;
    margin: auto;
    float: none;
}

.follow-us {
    display: inline;
    width: 50%;
}

.head-ul {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
}

.head-li {
    font-size: 1.5svh;
    margin-left: 2svw;
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
}

.head-li:first-child {
    margin-left: 1svw;
}

.head-li:last-child {
    margin-right: 10svw;
}

.head-a {
    font-size: 2svh;
}

#content {
    color: var(--_paragraph_text);
    margin: 100px 10% 0 10%;
    padding: 30px;
    width: 80%;
    background-color: var(--_content_background);
    min-height: 95svh;
}